// Standard Colors
$highlighterColor: lighten(yellow, 30);

// Theme Colors
$primaryColor: #343A40;
$secondaryColor: #212529;
$tertiaryColor: #F8F9FA;
$quaternaryColor: #0090DF;
$quinaryColor: #AAAAAA;

$lightFontColor: white;
$darkFontColor: #212529;
$mutedFontColor: #343A40;

// Font Sizes
$fontSize: 14px;
$headerFontSize: 16px;
$siteNameFontSize: 18px;
$footerFontSize: 12px;
