# IDE - Visual Studio
.vs/
*.suo
*.user

# IDE - VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# IDE - WebStorm
.idea/

# Build
[Bb]in/
[Oo]bj/
dist/
out-tsc/
node_modules/
package-lock.json
pnpm-lock.yaml

# System Files
.DS_Store
Thumbs.db
