<p *ngIf="customers$ | async as customers; else loadingCustomers">
  <customers [customers]="customers" (selected)="customerSelected($event)"></customers>
</p>

<ng-template #loadingCustomers>
  <p>Getting Customers...</p>
</ng-template>

<ng-container *ngIf="customerId">
  <p *ngIf="customerOrders$ | async as orders; else loadingOrders">
    <customer-orders [orders]="orders"></customer-orders>
  </p>
</ng-container>

<ng-template #loadingOrders>
  <p>Getting Orders for Customer...</p>
</ng-template>
