<p *ngIf="customers$ | async as customers; else loadingCustomers">
  <customer-list [customers]="customers" (selected)="customerSelected($event)"></customer-list>
</p>

<ng-template #loadingCustomers>
  <p>Getting Customers...</p>
</ng-template>

<ng-container *ngIf="customerId">
  <p *ngIf="customerOrders$ | async as orders; else loadingOrders">
    <order-list [orders]="orders"></order-list>
  </p>
</ng-container>

<ng-template #loadingOrders>
  <p>Getting Orders for Customer...</p>
</ng-template>
